.main--contact{
    display: flex;
    justify-content: space-around;
    padding: 5rem 2rem;
    width: 80%;
}
.main__contact-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.main__contact-form h1{
    font-size: 2.5rem;
    font-weight: 600;
    width: 70%;
}
.main__contact-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.main__contact-form form div{
    display: flex;
    gap: 2rem;
    width: 100%;
}
.main__contact-form form div label{
    font-size: 1.25rem;
    font-weight: 600;
    width: 7rem;
}
.main__contact-form form div input{
    width: 50%;
    height: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    border: none;
}
.main__contact-form form div input:focus{
    box-shadow: 2px 2px 3px 4px goldenrod;
    border: none;
}
.main__contact-form form div input::placeholder{
    padding-left: 2rem;
}
.main__contact-form form button{
    height:  2rem;
    width: max(20%,100px);
    border-radius: 1rem;
    background-color: var(--BACKGROUND-COLOR);
    color: var(--TEXT-COLOR);
    border: none;
    margin-left: 25%;
    
}
.main__contact-form form button:hover{
    background-color: var(--TEXT-COLOR);
    color: var(--BACKGROUND-COLOR);
}
.main__contact-form form  textarea{
    /* margin-left: 2rem; */
    padding: 2rem ;
    height: fit-content;
    width: 50%;
    border-radius: 1.5rem;

}
.main__server--message, .name-validation-message, .email-validation-message{
    color:var(--TEXT-COLOR);
}
.main__contact-form form textarea:hover{
    box-shadow: 2px 2px 3px 4px goldenrod;
}
.main__address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
    padding-top: 8rem;
}
.main__address h2{
    font-weight: 600;
    font-size: 2rem;
}
.main__address address{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main__address address div{
    display:flex;
    gap: 1.5rem;
}
.main__address address div p{
    font-size: 1.25rem;
    font-weight: 500;
}
@media screen and (max-width:768px){
    .main--contact{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .main--contact .main__contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__contact-form form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main--contact .main__address{
        width: 100%;
        display: flex;
    }
}
@media screen and (max-width:640px){
    .main__contact-form form div input::placeholder{
        padding-left: 1rem;
    }
}
@media screen and (max-width:400px) {
    .main__address address div p{
        font-size: 1rem;
        font-weight: 500;
    }
    .main__contact-form h1{
        font-size: 1.5rem;
    }
    .main--contact .main__contact-form form:nth-child(4){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__contact-form form  textarea{
        /* margin-left: 2rem; */
        padding: 1rem ;
        height: fit-content;
        width: 40%;
        border-radius: 1.5rem;
    
    }
}