.section--detail{
    padding-top: 5rem;
    margin-inline: auto;
}
.detail-container{
    display:flex;
    justify-content: space-evenly;
}
.detail-container .detail{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.detail-container .detail p{
    font-size: 1.25rem;
    font-weight: 600;
}
.detail-container img{
    width: 50%;
    aspect-raito: 3/2;
    box-shadow: 2px 2px 1rem 4px black;
    border-radius: 1rem;
}
.description{
    width: 80%;
    padding-top: 5rem;
    margin-inline: auto;
}
.description p{
    font-size: 1.5rem;
    font-style:italic;
    font-weight: 500;
}
.description p::first-line{
    font-size: 1.25rem;
    font-weight: 700;
}
.section--requirement{
    padding-top: 5rem;
    margin-inline: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

}
.section--requirement h2{
    font-size: 2rem;
    font-weight: 800;
}
.window{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.window p{
    font-size: 1.25rem;
    font-weight: 500;
}
.window table{
    border: 1px solid var(--BACKGROUND-COLOR);
    width: 100%;
}
td, th{
    border: 1px solid var(--BACKGROUND-COLOR);
}
.section--trailer{
    margin-inline: auto;
    width: 80%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section--trailer video{
    width: 100%;
    border-radius: 2rem;
    box-shadow: 2px 2px 1px 2px black;
}
#screen-shots-container{
    padding-top: 4rem;
    padding-bottom: 5rem;
}
h3{
    padding-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.screenshots{
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

}
.screenshots img{
    box-shadow: 1px 1px .75rem 2px black;
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1.5/2;
    object-fit: cover;
}
@media screen and (max-width:640px) {
    .detail-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .detail-container .detail{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .detail-container .detail p{
        font-size: 1rem;

    }
    .detail-container img{
        width: max(200px, 60%);
        aspect-ratio: 3/3;
    }
    .description p{
        font-size: 1rem;
        font-style:italic;
        font-weight: 500;
    }
    .screenshots{
        width: 100%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    
    }
}
@media  screen and (max-width:400px) {
    .screenshots{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
    }
}