main{
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.main--searchContainer{
    display: flex;
    justify-content: center;

}
.main--searchContainer input{
    height: 2rem;
    width: max(50%, 150px);
    border-radius: .75rem;
    border: none;
    padding-left: 1rem;
}
.main--searchContainer input::placeholder{
    padding-left: 1rem;
}
.main--searchContainer button{
    height:  2rem;
    width: max(20%,80px);
    border-radius: 1rem;
    background-color: var(--BACKGROUND-COLOR);
    color: var(--TEXT-COLOR);
    border: none;
}
.main--searchContainer button:hover{
    background-color: var(--TEXT-COLOR);
    color: var(--BACKGROUND-COLOR);
}
.main__section--cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

/* utitlity */
.none{
    display: none;
}